**/bin
**/obj
**/.vs
**/.vscode
**/.idea
**/node_modules
**/.git
**/.github
**/.dockerignore
**/Dockerfile
**/*.user
**/*.suo
**/TestResults
**/*.db
**/*.db-shm
**/*.db-wal
**/coverage
**/*.coverage
**/*.coveragexml
juris.log
juris.err.log
README.md
*.md
